Reading fowlling 3 HTML fragments with targetted values to be extracted, and then response a **single** Xpath (wrapped in JSON). 

{% for snippet in snippets %}
#### HTML Fragment {{ snippet.id }}:
```html
{{ snippet.html }}
```
{% if snippet['cue_text'] %}
cue text: `{{ snippet.cue_text }}`
{%- endif %}
target value (JSON encoded): `{{ snippet.target_text | tojson }}`
{% endfor %}